$good: #2ecc71
$bad: #e74c3c

html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: 'Roboto', sans-serif

body
  margin: 0
  color: white
  background-color: black

h1
  font-size: 3em

h2
  font-size: 4em
  line-height: 0.5em

a
  font-size: 1em
  color: white
  text-decoration: none
  &:hover
    text-decoration: underline

div .header
  text-align: center
  margin-bottom: 1em

div .footer
  text-align: center
  margin-top: 1em

div .category
  padding-top: 1em
  padding-bottom: 1em
  padding-left: 4em
  padding-right: 4em
  min-height: 800px
  text-align: center

div .good 
  background-color: $good
  margin-left: 1em
  margin-right: 1em
  margin-bottom: 1em

div .bad
  background-color: $bad
  margin-left: 1em
  margin-right: 1em
  margin-bottom: 1em

div .person
  margin-bottom: 2em
  padding-right: 1em
  border-style: solid
  background-color: black
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all
  /* Instead use this non-standard one: */
  word-break: break-word
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
  div .image
    width: auto
    max-width: 150px
    img
      height: 100%
      width: 100%
  p
    text-align: left
  .details
    padding-left: 1em
    padding-right: 1em
    .name
      font-size: 2em
      line-height: 0.1em
    .quote
      font-style: italic
    .reference
      font-size: 0.8em
      a
        color: #B8B8B8
        text-decoration: underline

